<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#bulk-swap" aria-controls="bulk-swap" role="tab" data-toggle="tab" routerLink="/configure" routerLinkActive="active">
                <h6 class="panel-title">Bulk Swap</h6>
            </a>
        </li>
        <li role="presentation">
            <a href="#custom-swap" aria-controls="custom-swap" role="tab" data-toggle="tab" routerLink="/configure-custom" routerLinkActive="active">
            <h6 class="panel-title">Custom Swap</h6></a>
        </li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade show active" id="bulk-swap">
        <div class="row">
             <div class="dual-list list-left col-md-5">
                 <ng-select class="custom"
                  [items]="userList"
                  bindLabel="name_description"
                  bindValue="$event"
                  (change)="addtoSwappArray($event,swapArrayOne);"
                  [(ngModel)]="selectedUser"
                  placeholder="Select User">
                 </ng-select>
             </div>
             <div class="col-md-1">


             </div>
             <div class="dual-list list-left col-md-5">
                 <ng-select class="custom"
                  [items]="userList"
                  bindLabel="name_description"
                  bindValue="$event"
                  (change)="addtoSwappArray($event,swapArrayTwo);"
                  [(ngModel)]="selectedUser"
                 placeholder="Select User">
                 </ng-select>
             </div>

        </div>
        <div class="row">
          <div class="dual-list list-left col-md-5">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-table"></i> Users to be swapped</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Office</th>
                        <th>Start date</th>
                        <th><span>Phone Plan</span></th>
                        <th>Options</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let user of swapArrayOne">
                        <td [innerHtml]="user.name"></td>
                        <td [innerHtml]="user.office"></td>
                        <td [innerHtml]="user.start_date"></td>
                        <td [innerHtml]="user.asset.asset_subscription">basic</td>
                        <td>
                             <i class="fa fa-fw fa-times" (click)="removeFromSwappArray(user,swapArrayOne)"></i>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
          </div>
          <div class="col-md-1">
            <div class="swap-button">
              <button type="button" class="btn btn-primary btn-sm" (click)="swapSusbscription()">Swap</button>
            </div>
            <div class="swap-button">
              <button type="button" class="btn btn-primary btn-sm" (click)="reset()">Reset</button>
            </div>

          </div>

          <div class="dual-list list-right col-md-5">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-table"></i> Users to be swapped with</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Office</th>
                        <th>Start date</th>
                        <th><span>Phone Plan</span></th>
                        <th>Options</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let user of swapArrayTwo">
                        <td [innerHtml]="user.name"></td>
                        <td [innerHtml]="user.office"></td>
                        <td [innerHtml]="user.start_date"></td>
                        <td [innerHtml]="user.asset.asset_subscription">basic</td>
                        <td>
                             <i class="fa fa-fw fa-times" (click)="removeFromSwappArray(user,swapArrayTwo)"></i>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
