<div class="content-wrapper">
<div class="container-fluid">

  <!-- Example DataTables Card-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Data Table Example</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
              <th>Phone Plan</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let user of userList">
              <td [innerHtml]="user.name"></td>
              <td [innerHtml]="user.position"></td>
              <td [innerHtml]="user.office"></td>
              <td [innerHtml]="user.age"></td>
              <td [innerHtml]="user.start_date"></td>
              <td [innerHtml]="user.salary"></td>
              <td [innerHtml]="user.asset.asset_subscription">basic</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
</div>
</div>
